<!-- <div #spinner class="loading-container visible-{{isLoading}}">
    <mat-spinner color="accent"></mat-spinner>
</div> -->
<div fxFlex="100" class="main-container" fxLayoutAlign="stretch" style.height="{{getHeight()}}px">
  <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="stretch">
    <div fxFlex="85">
      <div class="board" id="board">
        <app-annotation-board id="annotation-board"  #annotationBoard>
        </app-annotation-board>
      </div>
    </div>
    <div class="details" fxFlex="15" fxLayoutAlign="center center">
      <app-metadata #metadata></app-metadata>
      <div id="overlay" *ngIf="currentfile==''"></div>
    </div>
    <div class="savebtn rotate-{{saving}}"  *ngIf="currentfile!=''">
      <button mat-fab color="primary" (click)="saveData()">
        <mat-icon aria-label="Save Annotations">save</mat-icon>
      </button>
    </div>
  </div>
  <div class="thumb-container" fxFlex="180px" style.width="180px">
    <cdk-virtual-scroll-viewport #thumbscroll orientation="vertical" itemSize="100" class="thumbnail-viewport">
      <div *cdkVirtualFor="let file of filteredfiles" class="thumbnail">
        <img mat-card-image (click)="annotate(file)" class="thumb-img annotated-{{isAnnotated(file)}} selected-{{isSelected(file)}}"
          src="file://{{dirpath}}/{{file}}">
        <span class="thumb-title">{{filename(file)}}</span>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="openfolderbtn openrotate-{{openingfolder}}">
    <button mat-fab color="warn" (click)="openFolder()">
      <mat-icon aria-label="Open Folder">folder_open</mat-icon>
    </button>
  </div>
</div>
<router-outlet></router-outlet>